.container,
.container input {
  width: 100%;
}

.container input {
  background-color: var(--gray500);
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.3s;
  color: var(--gray100);
  padding: 14px;
}

.container input::placeholder {
  color: var(--gray300);
}

.container input:focus {
  border-color: var(--purpleDark);
}
